.tab {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-left: 0.5px solid rgb(0, 0, 0);
}

.tab .tab_depth1 {
  position: relative;
  width: 50%;
  float: left;
  text-align: center;
  background: rgb(59, 57, 0);
}
.tab .tab_depth1:hover {
  background: rgb(42, 42, 1);
}

.tab .tab_depth1 + .tab_depth1 {
  border-left: 1px solid rgb(0, 0, 0);
}

.tab .tab_depth1 .depth1_link {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
}

.tab_title.active_tab {
  background: rgb(42, 42, 1);
}

.tab_depth2 {
  float: left;
  width: 12.5%;
  padding: 5px 0;
  text-align: center;
  font-size: 0.85rem;
  background: rgb(59, 57, 0);
  border-top: 1px solid rgb(0, 0, 0);
}

.tab_depth2 + .tab_depth2 {
  border-left: 1px solid rgb(0, 0, 0);
}

.tab_contents {
  position: absolute;
  top: 100px;
  left: 30px;
  /* display: none; */
}
