.tab_depth2 {
  float: left;
  width: 12.5%;
  text-align: center;
  font-size: 0.85rem;
  background: rgb(59, 57, 0);
  border-top: 1px solid rgb(0, 0, 0);
}

.tab .tab_depth2:hover {
  background: rgb(42, 42, 1);
}

.tab_depth2 + .tab_depth2 {
  border-left: 1px solid rgb(0, 0, 0);
}

.tab .tab_depth2 .depth2_link {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
}
