.depth2 {
  display: none;
  border-top: 1px solid wheat;
}

.depth1:hover .depth2 {
  display: block;
}

.depth2 li a {
  display: inline-block;
  padding: 17px 0;
  width: 100%;
}

.depth2 li a:hover {
  background: rgb(29, 29, 0);
}

.depth2 li a.active {
  background: rgb(29, 29, 0);
}
